<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.dto.board">

<!-- 필요한  sql query 를 작성하세요 -->
<select id="selectAll" resultType="board" >
	select * from board
</select>

<select id="select" resultType="board" parameterType="int">
	select * from board where idx=#{idx}
</select>

<delete id="delete " parameterType="int">
	delete from book where idx=#{idx}
</delete>

<update id="update" parameterType="board">
	update board set title=#{title}, content=#{content} where idx=#{idx}
</update>

</mapper>