<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.Member">

<!-- 필요한  sql query 를 작성하세요 -->
<insert id="insert" parameterType="member">
	insert into member values(#{id},#{pw},#{name},#{allergy})
</insert>

<delete id="delete" parameterType="string">
	delete from member where id=#{id}
</delete>

<update id="update" parameterType="member">
	update member set pw=#{pw}, name=#{name},allergy=#{allergy} where id=#{id}
</update>

<select id="select" parameterType="string" resultType="member">
	select * from member where id=#{id}
</select>


</mapper>